In [79]:
import numpy as np
from scipy import stats
from statsmodels.stats.weightstats import ztest
from scipy.stats import chi2_contingency,chi2
import pandas as pd

In [80]:
titanic = pd.read_csv("data/titanic.csv")
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [81]:
contingency_table = pd.crosstab(titanic['Survived'], titanic['Sex'])
contingency_table

Sex       female  male
Survived
0             81   468
1            233   109

In [82]:
contingency_table = pd.crosstab(titanic['Survived'], titanic['Sex'])

# Calculate chi-squared statistic and p-value
chi2_cal, p_val, dof, expected = chi2_contingency(contingency_table)

print("Chi-squared statistic:", chi2_cal)
print("P-value:", p_val)

Chi-squared statistic: 260.71702016732104
P-value: 1.1973570627755645e-58

In [83]:
contingency_table = pd.crosstab(titanic['Survived'], titanic['Pclass'])

# Calculate chi-squared statistic and p-value
chi2, p_val, dof, expected = chi2_contingency(contingency_table)

# Calculate degrees of freedom
df = (contingency_table.shape[0] - 1) * (contingency_table.shape[1] - 1)

print("Degrees of freedom:", df)

Degrees of freedom: 2

In [86]:
alpha = 0.05

# Set degrees of freedom
df = 2

# Calculate critical value
chi2_crit = chi2.ppf(1 - alpha, df)

print("Critical value:", chi2_crit)

AttributeError: 'numpy.float64' object has no attribute 'ppf'

In [87]:
chi2, p_val, dof, expected = chi2_contingency(contingency_table)

print("P-value:", p_val)

P-value: 4.549251711298793e-23

In [13]:
#chi2_cal

In [28]:
O = np.array([[51,183,146],[173,104,57],[203,154,79]])
E = np.zeros(O.shape)
for i in range(O.shape[0]):
    for j in range(O.shape[1]):
        E[i,j]=O[i].sum()*O[:,j].sum()/O.sum()

In [29]:
v = (3-1)*(3-1)

In [30]:
chi2_cal = ((O-E)**2/E).sum()

In [31]:
chi2_cal

147.2218166279889

In [70]:
chi2_crit = stats.chi2.isf(0.01,v)
chi2_crit

13.276704135987625

In [71]:
p_val = stats.chi2.sf(chi2_cal,df=v)

In [72]:
p_val

3.1950423231181934e-55