# แบบฝึกหัด 8

---

In [4]:
import numpy as np
import pandas as pd
from scipy import stats
from statsmodels.stats.proportion import proportions_ztest

8.1 ร้านค้าออนไลน์ขายเมล็ดพืชหายากชนิดหนึ่ง อ้างว่าเมล็ดที่ขายมีเปอร์เซ็นต์การงอกสูงกว่า 90% จากการทดลองของลูกค้ารายหนึ่งได้สั่งซื้อเมล็ดมาทั้งหมด 100 เมล็ดและพบว่ามี 14 เมล็ดที่ไม่งอก จงทดสอบคำกล่าวอ้างของร้านค้าว่าเป็นจริงหรือไม่ที่ระดับนัยสำคัญ 0.05 หากถือว่าอัตราการงอกของเมล็ดพืชดังกล่าวมีการแจกแจงแบบปกติ

In [6]:
#แสดงสมมติฐาน พร้อมวิธีหาค่าcal ค่าp-value และการสรุปผล 

#H0 : เมล็ดที่ขายมีเปอร์เซ็นต์การงอก ≤ 90%
#H1 : เมล็ดที่ขายมีเปอร์เซ็นต์การงอก > 90%

n = 100
pH = 86/100
p0 = 90/100
q0 = 1 - p0
a = 0.05

z_cal, p_val = proportions_ztest(count=86, nobs=100, value=0.9, alternative='larger', prop_var=0.9)

print(f"z_cal = {z_cal}")
print(f"p_val = {p_val}")

z_cal = -1.3333333333333346
p_val = 0.9087887802741323

---
```
คำกล่าวอ้างของร้่านค้า เป็นจริง ยอมรับ H1 เมล็ดที่ขายมีเปอร์เซ็นต์การงอก > 90% reject H0
```
---

8.2 สืบเนื่องจากข้อ 8.1 พบว่ามีร้านค้าออนไลน์อีกเจ้าซึ่งขายเมล็ดพืชหายากชนิดเดียวกันนี้ อ้างว่าเมล็ดที่ขายมีเปอร์เซนต์การงอกสูงกว่า 95% จึงสั่งซื้อมา 50 เมล็ดพบว่ามี 4 เมล็ดที่ไม่งอก จงทดสอบว่าร้านค้านี้ขายเมล็ดซึ่งมีเปอร์เซ็นต์การงอกสูงกว่าร้านค้าแรกมากกว่าหรือเท่ากับ 5% หรือไม่ ที่ระดับนัยสำคัญ 0.05

In [7]:
#แสดงสมมติฐาน พร้อมวิธีหาค่าcal ค่าp-value และการสรุปผล 

#H0 : ร้านที่ 2 มี percent การงอกมากกว่าร้านที่ 1 >= 5%
#H1 : ร้านที่ 2 มี percent การงอกมากกว่าร้านที่ 1 < 5%

z_cal, p_val = proportions_ztest(count=[14, 4], nobs=[100, 50], value=0.05, alternative='smaller')

print(f"z_cal = {z_cal}")
print(f"p_val = {p_val}")

z_cal = 0.17766726362967553
p_val = 0.5705078519955201

---
```
ร้านที่ 2 มี percent การงอกมากกว่าร้านที่ 1 เป็นจิง accept H0 reject H1
```
---

8.3 จากชุดข้อมูล "titanic.csv" จงทดสอบว่าส่วนเบี่ยงเบนมาตราฐานข้อมูลอายุผู้โดยสารมีค่าน้อยกว่า 10 ปีหรือไม่ที่ระดับความเชื่อมั่น 99% หากกำหนดให้ข้อมูลอายุผู้โดยสารมีการแจกแจงแบบปกติ

In [8]:
#แสดงสมมติฐาน พร้อมวิธีหาค่าcal ค่าp-value และการสรุปผล 
df = pd.read_csv("../data/titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [9]:
#H0 = ส่วนเบี่ยงเบนมาตราฐานข้อมูลอายุผู้โดยสาร ≥ 10 ปี
#H1 =  ส่วนเบี่ยงเบนมาตราฐานข้อมูลอายุผู้โดยสาร < 10 ปี

n = df.Age.count()
sigma_p_2 = df.Age.var()
sigma_zero_p2 = 10*10
v = n-1
a = 0.01

chi2_cal = ((n-1)*sigma_p_2) / sigma_zero_p2
p_val = stats.norm.cdf(chi2_cal)

print(f"chi2_cal = {chi2_cal}")
print(f"p_val = {p_val}")

chi2_cal = 1504.5663594411767
p_val = 1.0

---
```
ส่วนเบี่ยงเบนมาตราฐานอายุผู้โดยสาร accept H0 reject H1
```
---

8.4 จากข้อ 8.3 จงทดสอบว่ากลุ่มผู้โดยสารชั้น Pclass = 1 มีความแปรปรวนของอายุเท่ากับ กลุ่มผู้โดยสารชั้น Pclass = 2 หรือไม่ที่ระดับนัยสำคัญ 0.05

In [10]:
#แสดงสมมติฐาน พร้อมวิธีหาค่าcal ค่าp-value และการสรุปผล 
#H0 pclass = 1 มีความแปรปรวนของอายุเท่ากับ Pclass = 2
#H1 pclass = 1 มีความแปรปรวนของอายุไม่เท่ากับ Pclass = 2

n1 = df.loc[df['Pclass'] == 1].Age.count()
n2 = df.loc[df['Pclass'] == 2].Age.count()
v1 = n1-1
v2 = n2-1
a = 0.05
sigma_p_1 = df.loc[df['Pclass'] == 1].Age.var()
sigma_p_2 = df.loc[df['Pclass'] == 2].Age.var()

f_cal = sigma_p_1/sigma_p_2
f_cri_l = stats.f.ppf(a/2, dfn=v1, dfd=v2)
f_cri_r = stats.f.isf(a/2, dfn=v1, dfd=v2)
p_val = 2 * min(stats.f.cdf(f_cal, dfn=v1, dfd=v2), stats.f.sf(f_cal, dfn=v1, dfd=v2))

print(f"f_cal = {f_cal}")
print(f"f_cri_l = {f_cri_l}")
print(f"f_cri_r = {f_cri_r}")
print(f"p_val = {p_val}")

f_cal = 1.117810400886476
f_cri_l = 0.7454732770065574
f_cri_r = 1.343577412539335
p_val = 0.45933712642977714

---
```
pclass = 1 มีความแปรปรวนของอายุเท่ากับ Pclass = 2 accept H0 reject H1
```
---