# แบบฝึกหัด 3

---

In [2]:
import numpy as np
import pandas as pd
import statistics

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

###

3.1 บริษัทให้บริการด้าน IT ครบวงจรแห่งหนึ่งได้เก็บรวบรวมข้อมูลค่าซ่อมบำรุงอุปกรณ์คอมพิวเตอร์แม่ข่ายและจำนวนลูกค้าของบริษัทในปีที่ผ่านมาเป็นดังไฟล์ ex3_1_itcost.csv  
จงแสดงวิธีหาค่ามัธยฐานและฐานนิยมของค่าซ่อมบำรุงอุปกรณ์คอมพิวเตอร์แม่ข่าย

In [123]:
df_it = pd.read_csv('../data/ex3_1_itcost.csv')
df_it

  maintenance_cost  num_customer
0           <=5000            33
1       5001-10000            41
2      10001-15000            20
3      15001-20000            17
4      20001-25000            10
5      25001-30000            16
6          >=30001             5

In [138]:
#your code
df_it["maintenance_cost"] = df_it["maintenance_cost"].str.replace("<=","1-")
df_it["maintenance_cost"] = df_it["maintenance_cost"].str.replace(">=30001","30001-35000")

df_it[['du_from', 'du_to']] = df_it['maintenance_cost'].str.split('-', expand=True)

df_it = df_it.astype({'du_from': int, 'du_to': int})

df_it["num_customer_cum"] = df_it["num_customer"].cumsum()

#median
median_pos_it = df_it.num_customer.sum()/2

for i in df_it.index:
    if df_it.num_customer_cum[i] >= median_pos_it:
        e_median_it=i
        break
median_lower_it = (df_it.du_from[e_median_it]+df_it.du_to[e_median_it-1])/2

median_it = median_lower_it+( (median_pos_it - df_it.num_customer_cum[e_median_it-1]) / df_it.num_customer[e_median_it])*median_lower_it
print(f"median = {median_it}")

#mode
e_mode_it = np.argmax(df_it.num_customer)
mode_lower_it = (df_it.du_from[e_mode_it]+df_it.du_to[e_mode_it-1])/2

d_lower = df_it.num_customer[e_mode_it-1] - df_it.num_customer[e_mode_it]
d_upper = df_it.num_customer[e_mode_it+1] - df_it.num_customer[e_mode_it]

mode_it = mode_lower_it + ( d_lower/(d_lower+d_upper) )*mode_lower_it
print(f"mode = {mode_it}")

#mode

median = 9635.109756097561
mode = 6379.948275862069

###

3.2 สุ่มตัวอย่างนักศึกษามาจำนวนหนึ่ง พบว่าคะแนนสอบวิชาสถิติ เป็นดังตาราง 'ex3_2_score.csv' จงหาค่า

**3.2.1 ค่าเฉลี่ย**

In [139]:
df_score = pd.read_csv('../data/ex3_2_score.csv')
df_score

   score  num_student
0  11-15           15
1  16-20           14
2  21-25           20
3  26-30           18
4  31-35           16
5  36-40           17

In [140]:
#your code
boundary = df_score['score'].str.split('-', expand=True).astype(int)
df_score[['du_from', 'du_to']] = df_score['score'].str.split('-', expand=True)
df_score = df_score.astype({'du_from': int, 'du_to': int})
df_score['mid'] = (boundary[0]+boundary[1])/2
df_score['fx'] = df_score['num_student']*df_score['mid']
avg = sum(df_score["fx"]) / sum(df_score["num_student"])
avg

25.85

**3.2.2 ค่ามัธยฐาน**

In [141]:
#your code
df_score["num_student_cum"] = df_score["num_student"].cumsum()
median_pos = df_score.num_student.sum()/2
for i in df_score.index:
    if df_score.num_student_cum[i] >= median_pos:
        e_median=i
        break
median_lower = (df_score.du_from[e_median]+df_score.du_to[e_median-1])/2
median = median_lower+( (median_pos - df_score.num_student_cum[e_median-1]) / df_score.num_student[e_median])*5
median

25.77777777777778

**3.2.3 ค่าฐานนิยม**

In [142]:
#your code
e_mode = np.argmax(df_score.num_student)
mode_lower = (df_score.du_from[e_mode]+df_score.du_to[e_mode-1])/2

d_lower = df_score.num_student[e_mode-1] - df_score.num_student[e_mode]
d_upper = df_score.num_student[e_mode+1] - df_score.num_student[e_mode]

mode = mode_lower + ( d_lower/(d_lower+d_upper) )*5
mode

24.25

**3.2.4 Q<sub>1</sub> และ Q<sub>3</sub>**

In [143]:
#your code
#find q1
q1_pos = df_score.num_student.sum()*1/4
for i in df_score.index:
    if df_score.num_student_cum[i] >= q1_pos:
        e_q1=i
        break
q1_lower = (df_score.du_from[e_q1]+df_score.du_to[e_q1-1])/2
q1 = q1_lower+( (q1_pos - df_score.num_student_cum[e_q1-1]) / df_score.num_student[e_q1])*5

q3_pos = df_score.num_student.sum()*3/4
for i in df_score.index:
    if df_score.num_student_cum[i] >= q3_pos:
        e_q3=i
        break
q3_lower = (df_score.du_from[e_q3]+df_score.du_to[e_q3-1])/2
q3 = q3_lower+( (q3_pos - df_score.num_student_cum[e_q3-1]) / df_score.num_student[e_q3])*5

print(f"Q1 = {q1}")
print(f"Q3 = {q3}")
# q1_pos = n*3/4
# q1_pos

Q1 = 19.071428571428573
Q3 = 33.0

**3.2.5 D<sub>7</sub>**

In [144]:
#your code
#find d7
d7_pos = df_score.num_student.sum()*7/10
for i in df_score.index:
    if df_score.num_student_cum[i] >= d7_pos:
        e_d7=i
        break
d7_lower = (df_score.du_from[e_d7]+df_score.du_to[e_d7-1])/2
d7 = d7_lower+( (d7_pos - df_score.num_student_cum[e_d7-1]) / df_score.num_student[e_d7])*5
d7

31.4375

**3.2.6 P<sub>75</sub>**

In [145]:
#your code
#find p75
p75_pos = df_score.num_student.sum()*75/100
for i in df_score.index:
    if df_score.num_student_cum[i] >= p75_pos:
        e_p75=i
        break
p75_lower = (df_score.du_from[e_p75]+df_score.du_to[e_p75-1])/2
p75 = p75_lower+( (p75_pos - df_score.num_student_cum[e_p75-1]) / df_score.num_student[e_p75])*5
p75

33.0

**3.2.7 พิสัย**

In [146]:
#your code
#find Range
range = df_score.du_to.max() - df_score.du_from.min() + 1
range

30

**3.2.8 ส่วนเบี่ยงเบนควอร์ไทล์**

In [147]:
#your code
#find QD
QD = (q3 - q1) / 2
QD

6.9642857142857135

**3.2.9 ส่วนเบี่ยงเบนมาตราฐานและความแปรปรวน**

In [148]:
#your code
#find Variance
x_bar = sum((df_score.du_from+df_score.du_to)/2  * df_score.num_student) / df_score.num_student.sum()
n =  df_score.num_student.sum()
sigma_fx2 = sum( ((df_score.du_from+df_score.du_to)/2)**2  * df_score.num_student)
sd = np.sqrt((sigma_fx2 - n*avg**2) / (n-1))
var = np.sqrt((sigma_fx2 - n*avg**2) / (n-1))
print(f"var = {sd**2}")
print(f"sd = {sd}")

var = 69.82575757575744
sd = 8.356180800805918

**3.2.10 สัมประสิทธิ์ของการแปรผัน**

In [149]:
#your code
#find CV
cv = (sd / avg)*100
cv

32.32565106694746

###

3.3 บริษัทเกมแห่งหนึ่งได้ทำการทดสอบ game engine รุ่นใหม่ ในคอมพิวเตอร์ที่มีส่วนประกอบของฮารด์แวร์ต่างๆกัน (เช่น cpu, gpu, ram, ฯลฯ) จำนวน 30 เครื่อง และทำการวัดค่า frames per second (FPS) ได้ผลดังนี้  
60.0, 30.2, 33.4, 59.9, 40.1, 25.5, 17.4, 28.6, 45.5, 57.8,  
22.5, 50.2, 30.8, 43.1, 50.5, 35.5, 27.4, 29.2, 55.5, 10.2,   
32.2, 27.8, 33.8, 53.4, 25.5, 30.4, 36.1, 49.3, 18.6, 50.0   
จงคำนวณหาค่าเฉลี่ย, ส่วนเบี่ยงเบนมาตราฐาน, ฐานนิยม, Q<sub>1</sub>, D<sub>3</sub>, P<sub>45</sub> ของค่า FPS ที่ได้จากการทดสอบ

ค่าเฉลี่ย:

In [150]:
#your code
fps_list = [60.0, 30.2, 33.4, 59.9, 40.1, 25.5, 17.4, 28.6, 45.5, 57.8,
22.5, 50.2, 30.8, 43.1, 50.5, 35.5, 27.4, 29.2, 55.5, 10.2,
32.2, 27.8, 33.8, 53.4, 25.5, 30.4, 36.1, 49.3, 18.6, 50.0]
np.mean(fps_list)

37.01333333333333

ส่วนเบี่ยงเบนมาตราฐาน:

In [151]:
#your code
statistics.stdev(fps_list)

13.511878129065279

ฐานนิยม:

In [152]:
#your code
statistics.mode(fps_list)

25.5

Q<sub>1</sub>, D<sub>3</sub> และ P<sub>45</sub>:

In [153]:
#your code
print(f"q1 = {np.quantile(fps_list, 0.25)}")
print(f"d3 = {np.percentile(fps_list, 30)}")
print(f"p45 = {np.percentile(fps_list, 45)}")

q1 = 28.0
d3 = 29.02
p45 = 32.260000000000005

###

3.4 หน่วยงานวิจัยแห่งหนึ่งได้รับมอบหมายจากทางรัฐบาลให้ทำการเปรียบเทียบระบบที่ใช้ในการผลิตพลังงานกระแสไฟฟ้าสำหรับนิคมอุตสาหกรรมแห่งหนึ่ง ระบบแรกมีกำลังการผลิตสูงสุด 10,000 เมกะวัตต์ โดยมีค่าเฉลี่ยและส่วนเบี่ยงเบนมาตราฐานของกำลังการผลิตอยู่ที่ 9,000±320 เมกะวัตต์ ระบบที่สองมีกำลังการผลิตสูงสุด 15,000 เมกะวัตต์ โดยมีค่าเฉลี่ยและส่วนเบี่ยงเบนมาตราฐานของกำลังการผลิตอยู่ที่ 14,000±900 เมกะวัตต์ จากข้อมูลนี้ทางสถาบันวิจัยจะสามารถสรุปว่าระบบใดมีกำลังการผลิตที่เที่ยงตรงกว่า

In [154]:
#your code
avg_power = [9000,14000]
max_power = [10000,15000]
std = [320,900]

cv1 = (std[0] / avg_power[0])*100
cv2 = (std[1] / avg_power[1])*100

print(f"cv1 = {cv1}")
print(f"cv2 = {cv2}")

cv1 = 3.5555555555555554
cv2 = 6.428571428571428