# แบบฝึกหัด 3

---

In [1]:
import numpy as np
import pandas as pd
import statistics

In [194]:
from google.colab import drive
drive.mount('/content/drive')

ModuleNotFoundError: No module named 'google'

###

3.1 บริษัทให้บริการด้าน IT ครบวงจรแห่งหนึ่งได้เก็บรวบรวมข้อมูลค่าซ่อมบำรุงอุปกรณ์คอมพิวเตอร์แม่ข่ายและจำนวนลูกค้าของบริษัทในปีที่ผ่านมาเป็นดังไฟล์ ex3_1_itcost.csv  
จงแสดงวิธีหาค่ามัธยฐานและฐานนิยมของค่าซ่อมบำรุงอุปกรณ์คอมพิวเตอร์แม่ข่าย

In [2]:
df_it = pd.read_csv('../data/ex3_1_itcost.csv')
df_it.head()
df_it.maintenance_cost.str.split("-", expand=True)
df_it

  maintenance_cost  num_customer
0           <=5000            33
1       5001-10000            41
2      10001-15000            20
3      15001-20000            17
4      20001-25000            10
5      25001-30000            16
6          >=30001             5

In [228]:
#your code
bit = df_it['maintenance_cost'].str.replace("<=","").replace(">=","")
bit
# df_it['mid'] = (bit[0]+bit[1])/2
# df_it

0           5000
1     5001-10000
2    10001-15000
3    15001-20000
4    20001-25000
5    25001-30000
6        >=30001
Name: maintenance_cost, dtype: object

###

3.2 สุ่มตัวอย่างนักศึกษามาจำนวนหนึ่ง พบว่าคะแนนสอบวิชาสถิติ เป็นดังตาราง 'ex3_2_score.csv' จงหาค่า

**3.2.1 ค่าเฉลี่ย**

In [3]:
df_score = pd.read_csv('../data/ex3_2_score.csv')
df_score.head()

   score  num_student
0  11-15           15
1  16-20           14
2  21-25           20
3  26-30           18
4  31-35           16

In [11]:
#your code
boundary = df_score['score'].str.split('-', expand=True).astype(int)
df_score['mid'] = (boundary[0]+boundary[1])/2
df_score['fx'] = df_score['num_student']*df_score['mid']
avg = sum(df_score["fx"]) / sum(df_score["num_student"])
df_score['num_student_cum'] = df_score['num_student'].cumsum()
print(f"average = {avg}")

average = 25.85

**3.2.2 ค่ามัธยฐาน**

In [23]:
#your code
print(df_score)
df_score[['du_from', 'du_to']] = df_score.score.str.split('-', expand=True)
df_score = df_score.astype({'du_from': int, 'du_to': int})
med_pos = df_score.num_student.sum()/2
e = np.argmax(df_score.num_student)
lower = (df_score.du_from[e]+df_score.du_to[e-1])/2
median_value = lower+((med_pos - df_score.num_student_cum[e-1]) / df_score.num_student[e])* 5
median_value

   score  num_student   mid     fx  num_student_cum  du_from  du_to
0  11-15           15  13.0  195.0               15       11     15
1  16-20           14  18.0  252.0               29       16     20
2  21-25           20  23.0  460.0               49       21     25
3  26-30           18  28.0  504.0               67       26     30
4  31-35           16  33.0  528.0               83       31     35
5  36-40           17  38.0  646.0              100       36     40

25.75

**3.2.3 ค่าฐานนิยม**

In [219]:
#your code
e_mode = np.argmax(df_score.num_student)
lower_mode = (df_score.du_from[e]+df_score.du_to[e-1])/2
mode = lower + ( df_score.num_student[e-1]/(df_score.num_student[e-1]+df_score.num_student[e+1]) )*5
print(f"mode = {mode}")

mode = 22.6875

**3.2.4 Q<sub>1</sub> และ Q<sub>3</sub>**

In [174]:
#your code

**3.2.5 D<sub>7</sub>**

In [ ]:
#your code

**3.2.6 P<sub>75</sub>**

In [ ]:
#your code

**3.2.7 พิสัย**

In [ ]:
#your code

**3.2.8 ส่วนเบี่ยงเบนควอร์ไทล์**

In [ ]:
#your code

**3.2.9 ส่วนเบี่ยงเบนมาตราฐานและความแปรปรวน**

In [ ]:
#your code

**3.2.10 สัมประสิทธิ์ของการแปรผัน**

In [ ]:
#your code

###

3.3 บริษัทเกมแห่งหนึ่งได้ทำการทดสอบ game engine รุ่นใหม่ ในคอมพิวเตอร์ที่มีส่วนประกอบของฮารด์แวร์ต่างๆกัน (เช่น cpu, gpu, ram, ฯลฯ) จำนวน 30 เครื่อง และทำการวัดค่า frames per second (FPS) ได้ผลดังนี้  
60.0, 30.2, 33.4, 59.9, 40.1, 25.5, 17.4, 28.6, 45.5, 57.8,  
22.5, 50.2, 30.8, 43.1, 50.5, 35.5, 27.4, 29.2, 55.5, 10.2,   
32.2, 27.8, 33.8, 53.4, 25.5, 30.4, 36.1, 49.3, 18.6, 50.0   
จงคำนวณหาค่าเฉลี่ย, ส่วนเบี่ยงเบนมาตราฐาน, ฐานนิยม, Q<sub>1</sub>, D<sub>3</sub>, P<sub>45</sub> ของค่า FPS ที่ได้จากการทดสอบ

ค่าเฉลี่ย:

In [128]:
#your code
fps_list = [60.0, 30.2, 33.4, 59.9, 40.1, 25.5, 17.4, 28.6, 45.5, 57.8,
22.5, 50.2, 30.8, 43.1, 50.5, 35.5, 27.4, 29.2, 55.5, 10.2,
32.2, 27.8, 33.8, 53.4, 25.5, 30.4, 36.1, 49.3, 18.6, 50.0]
np.mean(fps_list)

37.01333333333333

ส่วนเบี่ยงเบนมาตราฐาน:

In [133]:
#your code
statistics.stdev(fps_list)

13.511878129065279

ฐานนิยม:

In [131]:
#your code
statistics.mode(fps_list)

25.5

Q<sub>1</sub>, D<sub>3</sub> และ P<sub>45</sub>:

In [148]:
#your code
print(f"q1 = {np.quantile(fps_list, 0.25)}")
print(f"d3 = {np.percentile(fps_list, 30)}")
print(f"p45 = {np.percentile(fps_list, 45)}")

q1 = 28.0
d3 = 29.02
p45 = 32.260000000000005

###

3.4 หน่วยงานวิจัยแห่งหนึ่งได้รับมอบหมายจากทางรัฐบาลให้ทำการเปรียบเทียบระบบที่ใช้ในการผลิตพลังงานกระแสไฟฟ้าสำหรับนิคมอุตสาหกรรมแห่งหนึ่ง ระบบแรกมีกำลังการผลิตสูงสุด 10,000 เมกะวัตต์ โดยมีค่าเฉลี่ยและส่วนเบี่ยงเบนมาตราฐานของกำลังการผลิตอยู่ที่ 9,000±320 เมกะวัตต์ ระบบที่สองมีกำลังการผลิตสูงสุด 15,000 เมกะวัตต์ โดยมีค่าเฉลี่ยและส่วนเบี่ยงเบนมาตราฐานของกำลังการผลิตอยู่ที่ 14,000±900 เมกะวัตต์ จากข้อมูลนี้ทางสถาบันวิจัยจะสามารถสรุปว่าระบบใดมีกำลังการผลิตที่เที่ยงตรงกว่า

In [ ]:
#your code