# ทบทวนก่อนสอบกลางภาค บทที่ 1 - 3 (เฉลย)

---

## บทที่ 1 | Introduction

### แบบทดสอบที่ 1

1.1 ข้อความต่อไปนี้ ข้อใดเป็นสถิติเชิงพรรณนาหรือสถิติเชิงอนุมาน

1. จากการสำรวจในแม่น้ำเจ้าพระยาพบปลาจำนวน 80 ชนิด โดยร้อยละ 15 ของปลาที่พบเป็นปลาฉลาม

<u>ตอบ</u>

2. ผลจากการวิจัยพบว่าคนไทยที่กินของทอดเยอะๆ มีโอกาสที่จะเป็นโรคหัวใจ

<u>ตอบ</u>

3. ขบวนรถไฟคันหนึ่งมีผู้โดยสารจำนวน 300 คน พบว่าเป็นเพศขายจำนวน 180 คน เพศหญิงจำนวน 120 คน ในการสุ่มผู้โดยสารมาจำนวน 150 คน พบว่ามีผู้โดยสารเพศชายจำนวน 50 คน ที่มีคู่สมรส และมีผู้โดยสารเพศหญิงที่มีคู่สมรสจำนวน 35 คน โดยสามารถสรุปค่าเฉลี่ยของผู้โดยสารที่มีคู่สมรสจากขบวนรถไฟนี้ได้อยู่ที่ 0.56

<u>ตอบ</u>

4. ในการวิจัยการเปลี่ยนแปลงของสภาพภูมิอากาศของประเทศไทย ในช่วงฤดูร้อนพบว่าอุณหภูมิของประเทศไทยอยู่สูงกว่าค่าเฉลี่ยในปีก่อนหน้าถึง 1.7 เท่า โดยมีอุณหภูมิเฉลี่ยอยู่ที่ 43.2 ํC นักวิชาการคาดว่าในปีถัดๆ ไป จะมีอุณหภูมิเฉลี่ยสูงกว่าปีนี้ได้อีกเนื่องจากปรากฏการณ์เอลณีโญ

<u>ตอบ</u>

5. จากการพิจารณาผู้เช้าแข่งขัน osu! ภายในประเทศไทย พบว่าผู้เล่น osu! ภายในประเทศไทยมีค่าเฉลี่ยของอายุอยู่ที่ 18 ปี มีค่าส่วนเบี่ยงเบนมาตรฐานของอายุอยู่ที่ 5 ปี และในการแข่งขัน osu! Tournament ภายในประเทศไทยยังพบอีกว่า ผู้เล่นที่มีอายุมากกว่า 15 ปี จะเป็นผู้ที่เข้ารอบชิงชนะเลิศอยู่เสมอ

<u>ตอบ</u>

---

## แบบทดสอบที่ 2

2.1 จงบอกว่าจากข้อความต่อไปนี้ ประชากรคืออะไร และกลุ่มตัวอย่างคืออะไร

1. การสำรวจผู้ใช้บริการรถยนต์สาธารณะภายในกรุงเทพมหานคร และปริมณฑล ในปีพ.ศ.2564

<u>ประชากร</u> คือ 
<br><u>กลุ่มตัวอย่าง</u> คือ

2. ศึกษาการเจริญเติบโตของเด็กแรกเกิด จนถึงอายุ 12 ปี จำนวน 2,000 คน

<u>ประชากร</u> คือ
<br><u>กลุ่มตัวอย่าง</u> คือ

3. การสำรวจผลการเลือกตั้งประจำเขตจตุจักร

<u>ประชากร</u> คือ 
<br><u>กลุ่มตัวอย่าง</u> คือ

2.2 จงบอกว่าข้อความต่อไปนี้เป็นการสำรวจประชากรหรือกลุ่มตัวอย่าง

1. การสำรวจผู้ขับขี่รถจักรยานยนต์ ภายในกรุุงเทพมหานคร จำนวน 300 คน

<u>ตอบ</u>

2. การวิจัยหาจำนวนต้นข้าวที่มีเพลี้ย ภายในไร่แห่งหนึ่ง ซึ่งตั้งอยู่ในจังหวัดสุโขทัย

<u>ตอบ</u>

3. การสำรวจอาชีพในอนาคตของนิสิตตณะวิทยาศาสตร์ มหาวิทยาลัยสงขลานครินทร์ ซึ่งเป็นจำนวนทั้งหมด 1,500 คน

<u>ตอบ</u>

4. การวิจัยค้นหาผู้ที่มีความเสี่ยงที่จะได้รับสารไซยาไนด์ จากการกินอาหารที่มีสารปนเปื้อน

<u>ตอบ</u>

5. การศึกษาปริมาณรายได้ของคนในจังหวัดศรีสะเกษ จากหมู่บ้านหมู่บ้านหนึ่งในจังหวัดศรีสะเกษ

<u>ตอบ</u>

---

<b>พารามิเตอร์ (parameter)</b> คือค่าที่แสดงถึงคุณลักษณะของประชากร โดยทั่วไปมักไม่ทราบค่า
<br><b>ค่าสถิติ (statistics)</b> คือค่าคงที่แสดงคุณลักษณะของตัวอย่าง เป็นค่าที่คำนวณได้จากตัวอย่าง

| ค่า | พารามิเตอร์ <br> (parameter) | ค่าสถิติ <br> (statistics) |
| --- | :-: | :-: |
| ค่าเฉลี่ย | 𝜇 | <i>x̄</i> |
| ส่วนเบี่ยงเบนมาตรฐาน | 𝜎 | 𝑠 |
| ความแปรปรวน | 𝜎&sup2; | 𝑠&sup2; |
| ค่าสัดส่วน | 𝑃 | <i>p̂</i> |
| สัมประสิทธิ์สหสัมพันธ์ | <i>ρ</i> | <i>r</i> |

---

<br>

## บทที่ 2 | Sampling

### แบบทดสอบที่ 3

จงบอกว่าการสำรวจ/วิจัยต่อไปนี้ใช้การสุ่มตัวอย่างแบบใด

1. การศึกษาปัญหาขยะภายในชุมชนของจังหวัดกรุงเทพมหานคร โดยสุ่มตัวอย่างชุมชนมา 50 ชุมชน โดยจาก 50 ชุมชนนั้น จะสุ่มตัวอย่างแบบ 2 ครัวเรือน เว้น 12 ครัวเรือนในแต่ละชุมชน

<u>ตอบ</u>

2. การศึกษาค้นคว้าหาจำนวนผู้สูงอายุภายในครัวเรือน ในจังหวัดนครราชสีมา โดยเลือกตัวแทนหมู่บ้านมาจากในอำเภอพิมาย

<u>ตอบ</u>

3. การวิจัยความเข้มข้นของปริมาณฮอร์โมนที่หลั่งออกมาภายในร่างกายมนุษย์ โดยคัดเลือกผู้ที่มีอายุอยู่ในช่วงวัยรุ่นมาใช้ในการเก็บข้อมูลในงานวิจัยจำนวนทั้งสิ้น 500 คน

<u>ตอบ</u>

---

<b>การจัดกลุ่มและนำเสนอข้อมูล</b>
<br>หลังจากที่ได้รวบรวมข้อมูลมาแล้ว เพื่อให้ง่ายแก่การนำเสนอและวิเคราะห์ข้อมูลต่อไปควรนำข้อมูลผ่านกระบวนการดังต่อไปนี้
<ul>
<li>
จัดโครงสร้างของข้อมูลให้เป็นระบบ
</li>
<li>
จัดกลุ่มข้อมูลโดยอาจใช้การเรียงลำดับ
</li>
<li>
ทำการแจกแจงความถี่
</li>
<li>
แสดงกลุ่มและการแจกแจงความถี่ในรูปแบบกราฟิก
</li>
</ul>

<b>การแจกแจงความถี่ (frequency distribution)</b>
ตือการนำข้อมูลดิบ (raw data) มาจัดเรียงและสร้างตารางแจกแจงความถี่ (frequency table) และแสดงความถี่ในรูปแบบกราฟิกเพื่อทำให้
ทราบลักษณะการกระจายของข้อมูล

| ค่า | สูตร |
| --- | :-: |
| พิสัย (range) | ค่าสูงสุด - ค่าต่ำสุด |
| ขอบล่าง (lower bound) | (ค่าน้อยที่สุดของอันตภาคชั้นนั้น + ค่ามากที่สุดของอันตภาคชั้นที่ต่ำกว่าหนึ่งชั้น) / 2 |
| ขอบบน (upper bound) | (ค่าน้อยที่สุดของอันตภาคชั้นนั้น + ค่ามากที่สุดของอันตภาคชั้นที่สูงกว่าหนึ่งชั้น) / 2 |
| ความกว้างของอันตรภาคชั้น (interval) | ขอบบน - ขอบล่าง |
| จำนวนอันตรภาคชั้น (class interval) | &LeftCeiling;พิสัย / ความกว้างของอันตรภาคชั้น&RightCeiling; |

---

### แบบทดสอบที่ 4

In [1]:
import numpy as np
import pandas as pd

In [2]:
# from google.colab import drive
# drive.mount('/content/drive')

In [3]:
df = pd.read_csv("monthly-flood-risk-area.csv")
df['PROV_E'] = [s.replace(" ", "_") for s in df['PROV_E']]
df['TAMBON_E'] = [s.replace(" ", "_") for s in df['TAMBON_E']]
df['AMPHOE_E'] = [s.replace(" ", "_") for s in df['AMPHOE_E']]
df.head()

,Month,GEOCODE,TAMBON_T,TAMBON_E,AMPHOE_CODE,AMPHOE_T,AMPHOE_E,PROV_CODE,PROV_T,PROV_E,COUNT_17_YEAR,CRITERIA,RISK
0,1,120501,ต.ไทรน้อย,Sai_Noi,1205,อ.ไทรน้อย,Sai_Noi_District,12,จ.นนทบุรี,Nonthaburi,1.0,1-3 ครั้งในรอบ 17 ปี,เสี่ยงต่ำ
1,1,120503,ต.หนองเพรางาย,Nong_Phrao_Ngai,1205,อ.ไทรน้อย,Sai_Noi_District,12,จ.นนทบุรี,Nonthaburi,1.0,1-3 ครั้งในรอบ 17 ปี,เสี่ยงต่ำ
2,1,120504,ต.ไทรใหญ่,Sai_Yai,1205,อ.ไทรน้อย,Sai_Noi_District,12,จ.นนทบุรี,Nonthaburi,1.0,1-3 ครั้งในรอบ 17 ปี,เสี่ยงต่ำ
3,1,120505,ต.ขุนศรี,Khun_Si,1205,อ.ไทรน้อย,Sai_Noi_District,12,จ.นนทบุรี,Nonthaburi,1.0,1-3 ครั้งในรอบ 17 ปี,เสี่ยงต่ำ
4,1,120507,ต.ทวีวัฒนา,Thawi_Watthana,1205,อ.ไทรน้อย,Sai_Noi_District,12,จ.นนทบุรี,Nonthaburi,1.0,1-3 ครั้งในรอบ 17 ปี,เสี่ยงต่ำ

<br>ให้แสดงวิธีสร้างคอลัมน์เพิ่มที่มือชื่อว่า PROV_CUT โดยคอลัมน์ที่เพิ่มมานี้ จะเก็บข้อมูลของตัวอักษรที่ปรากฏในคอลัมน์ PROV_E โดยมีเงื่อนไขคือ หากใน COUT 17 YEAR เป็นตัวเลขใด จะเป็นการตัดให้ชื่อจังหวัดใน PROV_E เหลือตามตัวอักษรตัวเลขนั้นๆ เช่น
<ul>
<li>
หากในคอลัมน์ COUT_17_YEAR ปรากฏเลข 1 และในคอลัมน์ PROV_E คือ "Nonthaburi" ในคอลัมน์ที่สร้างจะบันทึก "N"
</li>
<li>
หากในคอลัมน์ COUT_17_YEAR ปรากฏเลข 7 และในคอลัมน์ PROV_E คือ "Phra_Nakhon_Si_Ayudhya" ในคอลัมน์ที่สร้างจะบันทึก "Phra_Na"
</li>
<li>
หากในคอลัมน์ COUT_17_YEAR ปรากฏ NaN และในคอลัมน์ PROV_E คือ "Lopburi" ในคอลัมน์ที่สร้างจะบันทึกเหมือนเดิมคือ "NaN"
</li>
<li>
หากในคอลัมน์ COUT_17_YEAR ปรากฏ 30 และในคอลัมน์ PROV_E คือ "Lopburi" ในคอลัมน์ที่สร้างจะบันทึกเหมือนเดิมคือ "NaN"
</li>
<ul>

In [4]:
#your code

1. ในแต่ละชุดตัวอักษรในคอลัมน์ PROV_CUT มีจำนวนเป็นเท่าใด

In [5]:
#your code

2. ในแต่ละจังหวัดในคอลัมน์ PROV_E มีพื้นที่ความเสี่ยงต่ำ เสี่ยงปานกลาง และเสี่ยงสูงจังหวัดละกี่พื้นที่ และจังหวัดใดที่มีพื้นที่ที่มีความเสี่ยงต่ำเป็นส่วนใหญ่มากที่สุด

In [6]:
#your code

In [7]:
#your code

3. จังหวัดใดมีค่าเฉลี่ยเป็นจำนวนปีที่เกิดน้ำท่วมของการเกิดน้ำท่วมภายใน 17 ปีที่ผ่านมาสูงที่สุด

In [8]:
#your code

4. อำเภอของจังหวัดใดมีค่าเฉลี่ยเป็นจำนวนปีที่เกิดน้ำท่วมของการเกิดน้ำท่วมภายใน 17 ปีที่ผ่านมาสูงที่สุด

In [9]:
#your code

---

<br>

## บทที่ 3 | Basic Data Analysis

## แบบทดสอบที่ 5

In [10]:
import numpy as np
import pandas as pd
import statistics

In [11]:
# from google.colab import drive
# drive.mount('/content/drive')

In [12]:
df_ic = pd.read_csv("income.csv")
df_ic.head(25000)

   Income / Year  num_family
0   50001-150000         270
1  150001-250000          73
2  250001-350000         542
3  350001-450000         198
4  450001-550000         327
5  550001-650000          51
6  650001-750000           8

1. จงแสดงวิธีหาค่ามัธยฐาน, ฐานนิยม, ค่าเฉลี่ย, Q1, Q3, P55, D2, พิสัย, ส่วนเบี่ยงเบนควอร์ไทล์, ส่วนเบี่ยงเบนมาตราฐานและความแปรปรวน, และสัมประสิทธิ์ของการแปรผันของรายได้

In [13]:
#your code

ตำแหน่งของมัธยฐานคิอ

In [14]:
#your code

มัธยฐาน คือ

In [15]:
#your code

ฐานนิยมคือ

In [16]:
#your code

ค่าเฉลี่ยคือ

In [17]:
#your code

ตำแหน่งของ Q1 คิอ

In [18]:
#your code

ตำแหน่งของ Q3 คิอ

In [19]:
#your code

ตำแหน่งของ P55 คือ

In [20]:
#your code

ตำแหน่งของ D2 คือ

In [21]:
#your code

Q1 คือ

In [22]:
#your code

Q3 คือ

In [23]:
#your code

P55 คือ

In [24]:
#your code

D2 คือ

In [25]:
#your code

พิสัย คือ

In [26]:
#your code

ส่วนเบี่ยงเบนควอร์ไทล์ คือ

In [27]:
#your code

ส่วนเบี่ยงเบนมาตรฐาน คือ

In [28]:
#your code

ความแปรปรวน คือ

In [29]:
#your code

สัมประสิทธิ์การแปรผัน คือ

In [30]:
#your code

2. บริษัทแห่งหนึ่งได้ทำการทดสอบความสว่างของหลอดไฟ จำนวน 50 หลอด และทำการวัดค่าในหน่วย กิโลลูเมน ได้ผลดังนี้
20.1, 38.5, 39.2, 41.8, 32.4, 18.0, 17.5, 25.9, 45.5, 57.8,
22.5, 50.2, 30.8, 43.1, 50.5, 35.5, 27.4, 29.2, 55.5, 10.2,
32.2, 27.8, 33.8, 53.4, 25.5, 30.4, 36.1, 49.3, 18.6, 50.0
จงคำนวณหาค่าเฉลี่ย, ส่วนเบี่ยงเบนมาตราฐาน, ฐานนิยม, Q2.5, D9, P38 ของค่า กิโลลูเมน ที่ได้จากการทดสอบ

In [31]:
klumen = [20.1, 38.5, 39.2, 41.8, 32.4, 18.0, 17.5, 25.9, 45.5, 57.8,
22.5, 50.2, 30.8, 43.1, 50.5, 35.5, 27.4, 29.2, 55.5, 10.2,
32.2, 27.8, 33.8, 53.4, 25.5, 30.4, 36.1, 49.3, 18.6, 50.0]

ค่าเฉลี่ย คือ

In [32]:
#your code

ส่วนเบี่ยงเบนมาตราฐาน คือ

In [33]:
#your code

ฐานนิยม คือ

In [39]:
#your code

Q2.5 คือ

In [40]:
#your code

D9 คือ

In [37]:
#your code

P38 คือ

In [38]:
#your code

---